<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Destinations</title>
    <link rel="stylesheet" type="text/css" th:href="@{/base.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<header th:replace="Fragments::Admin_menu">
</header>
<body>
    <div class="container full-width">
        <h2 class="title" th:text="'Odkryj nowy kierunek: ' + ${country}"></h2><hr/>
        <div class="div-transform">
            <div th:each="destination:${destinations}">
                <div class="card card-medium colored_background">
                    <div th:each="im:${images}">
                        <img class="image image-medium" th:if="${im.getDestination().getId()} == ${destination.getId()}" src="${'/static/destinations/' + im.getPath()}" th:src="@{'/destinations/'+${im.getPath()}}">
                    </div>
                    <div class="row" style="margin-top: 0px !important;">
                        <a class="text-link" th:href="@{'/destinations/' + ${destination.getCountry()} + '/details/' + ${destination.getId()}}"><h2 th:text="${destination.getTown()}"></h2></a>
                        <button class="icon" sec:authorize="isAuthenticated()">
                            <a th:if="!${liked.contains(destination)}" class="bi bi-heart" th:href="@{'/destinations/addToLiked/' + ${destination.getCountry()} + '/' + ${destination.getId()}}"></a>
                            <a th:unless="!${liked.contains(destination)}" class="bi bi-heart-fill" th:href="@{'/destinations/removeFromLiked/' + ${destination.getCountry()} + '/' + ${destination.getId()}}"></a>
                        </button>
                    </div>
                    <p th:text="${destination.getDescription()}"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>