<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Applications</title>
    <link rel="stylesheet" type="text/css" th:href="@{/base.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<header th:replace="Fragments::Admin_menu">
</header>
<body>
    <div class="container center">
        <div class="div-transform">
            <div class="row">
                <div class="card" th:each="category:${categories}">
                   <a th:href="@{'/applications/' + ${category}}"> <button th:text="${category}"></button></a>
                </div>
            </div>
            <div th:each="app:${applications}">
                <div class="card">
                    <h2 th:text="${app.getAppName()}"></h2>
                    <p th:text="'Kategoria: ' + ${app.getCategory()}"></p>
                    <h5 th:text="${app.getDescription()}"></h5>
                    <p th:if="${app.getDestinationDestination != null}" th:text="'Przydatna dla kraju: ' + ${app.getDestinationDestination()}"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>