<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja</title>
    <link rel="stylesheet" type="text/css" th:href="@{/base.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<header th:replace="Fragments::Admin_menu">
</header>
<body>
    <div>
        <h1 th:text="${appl.getAppName()}"></h1>
    </div>
    <div align="center" class="tab-content bg-transparent">
        <div id="note-full-container" class="note-has-grid row">
            <div class="card card-body" id="card">
                <span class="side-stick"></span>
                <p th:if="${appl.destinationDestination != null}" class=" font-12 text-muted" th:text="|${appl.destinationDestination.getTown()}, ${appl.destinationDestination.getCountry()}"/></p>
                <p class=" font-12 text-muted" th:text="'Kategoria:' + ${appl.getCategory()}"></p>
                <div>
                    <p class=" font-12 text-muted" th:text="${appl.getDescription()}"></p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div>
        <h3 ><a th:href="@{'/admin/applications/edit/' + ${appl.id}}">Edytuj</a></h3>
        <h3 ><a th:href="@{'/admin/applications/delete/' + ${appl.id}}">Usuń</a></h3>
    </div>
</body>
</html>