<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edytowanie atrakcji</title>
    <link rel="stylesheet" type="text/css" th:href="@{/base.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<header th:replace="Fragments::Admin_menu">
</header>
<body>
    <div class="container center colored_background">
        <div>
            <h3 class="title">Edytuj atrakcję</h3>
        </div>
        <div class="container central">
            <form class="requires-validation center" th:action="@{/admin/attractions/save/{id}(id=${attractionId})}" th:object="${attraction}" method="post">
                <div >
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Nazwa: </label>
                        <div class="col-8">
                            <input th:field="*{name}" class="form-control" required/><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Opis: </label>
                        <div class="col-8">
                            <textarea th:field="*{description}" class="form-control" required/> <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Kontakt: </label>
                        <div class="col-8">
                            <textarea th:field="*{contact}" class="form-control"/> <span th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}">Contact Error</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Kategoria: </label>
                        <div class="col-8">
                            <select th:field="*{category}" id="categorySelect" class="form-control">
                                <option th:each="category:${categories}" th:value="${category}" th:text="${category}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Miejscowość: </label>
                        <div class="col-8">
                            <select th:field="*{destinationDestination}" class="form-control" required>
                                <option th:each="destination:${destinations}" th:value="${destination.id}" th:text="|${destination.getTown()}, ${destination.getCountry()}|"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Cena: </label>
                        <div class="col-8">
                            <textarea th:field="*{price}" class="form-control" required/> <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</span>
                        </div>
                    </div>
                    <div class="central">
                        <button type="submit" class="btn btn-success">Zatwierdź</button>
                    </div>
                </div>
            </form>
        </div>


    </div>
</body>
</html>