<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Atrakcja turystyczna</title>
    <link rel="stylesheet" type="text/css" th:href="@{/base.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<header th:replace="Fragments::Admin_menu">
</header>
<body>
    <div contener>
        <div class="row review-padding">
            <h1 th:text="${attraction.getName()}"></h1>
            <button class="btn btn-success"><a th:href="@{'/admin/attractions/edit/' + ${attraction.getId()}}"><i class="bi bi-pencil"></i></a></button>
            <button class="btn btn-success"> <a th:href="@{'/admin/attractions/delete/' + ${attraction.getId()}}"><i class="bi bi-trash"></i></a> </button>
        </div><hr>
    </div>
    <div class="container center colored_background">
        <div class="row" >
            <h5 th:text="'Kategoria: ' + ${attraction.getCategory()}" style="padding: 0px !important; margin: 0px !important;"></h5>
        </div>
        <div>
            <h3>Opis:</h3>
            <h5 th:text="'Opis: ' + ${attraction.getDescription()}"></h5></br>
        </div>
        <div>
            <h3>Cena wejścia:</h3>
            <h5 th:text="${attraction.getPrice()}"></h5>
        </div>
        <div>
            <h3>Położenie:</h3>
            <h5 th:text="${attraction.getDestinationDestination().getTown()} + ', ' + ${attraction.getDestinationDestination().getCountry()} + ', ' + ${attraction.getDestinationDestination().getContinent()}"></h5>
        </div>
        <div>
            <h3>Kontakt:</h3>
            <div th:if="${attraction.getContact()} == null"> <h5>Brak danych</h5></div>
            <div th:unless="${attraction.getContact()} == null"><h5 th:text="${attraction.getContact()}"></h5></div>
        </div>
        <hr>
    </div>
    <div class="container center colored_background">
        <h3>Zarządzanie plikami:</h3>
        <div th:each="i:${imagies}">
            <div class="card card-body">
                <img src="${'/static/attractions/' + i.getPath()}" th:src="@{'/attractions/'+${i.getPath()}}">
            </div>
        </div>
        <hr/>
        <form class="requires-validation" th:action="@{/admin/attractions/{id}(id=${attraction.id})}"  method="post" enctype="multipart/form-data">
            <div th:insert="Destination/SingleDestination::image_upload"/>
        </form>
    </div>
</body>
</html>