<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
    <link rel="stylesheet" type="text/css" th:href="@{/base.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
</head>
<body>
    <div class="container center">
        <div class="card login">
            <div class="row">
                <a class="text-link-dark" th:href="@{/login}"><button class="text-button" disabled>Odzyskiwanie hasła</button></a>
            </div>
            <div>
                <form class="column" th:action="@{/forgot_password}" method="post">
                    <div class="group">
                        <p>Wpisz adres e-mail konta, do którego chcesz odzyskać hasło</p>
                    </div>
                    <div class="group">
                        <input type="email" name="email" placeholder="Email"/>
                    </div>
                    <div th:if="${error != null}" class="group">
                        [[${error}]]
                    </div>
                    <div th:if="${message != null}" class="group">
                        [[${message}]]
                    </div>
                    <div class="group">
                        <button type="submit" class="modern_button">Wyślij</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>