<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Liked</title>
    <link rel="stylesheet" type="text/css" th:href="@{/base.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<header th:replace="Fragments::Admin_menu">
</header>
    <body>
    <div class="container full-width colored_background">
        <div class="container">
            <br>
            <h3>Kierunki świata</h3><hr>
            <div th:if="${likedDestinations.isEmpty()}">
                <p>Nie masz jeszcze zapisanych kierunków.</p>
            </div>
            <div th:unless="${likedDestinations.isEmpty()}" class="container">
                <div class="div-transform full-size">
                    <div th:each="destination:${likedDestinations}">
                        <div class="card card-white">
                            <div th:each="im:${images}">
                                <img class="image image-medium" th:if="${im.getDestination().getId()} == ${destination.getDestination().getId()}" src="${'/static/destinations/' + im.getPath()}" th:src="@{'/destinations/'+${im.getPath()}}">
                            </div>
                            <div class="row">
                                <a class="text-link" th:href="@{'/destinations/' + ${destination.getDestination().getCountry()} + '/details/' + ${destination.getDestination().getId()}}"><h2 th:text="${destination.getDestination().getTown()}"></h2></a>
                                <button class="icon"><a class="bi bi-heart-fill" th:href="@{'/destinations/removeFromLiked/' + ${destination.getDestination().getCountry()} + '/' + ${destination.getDestination().getId()}}"></a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </br>
        </div>

        <div class="container">
            <h3>Atrakcję turystyczne</h3><hr>
            <div th:if="${likedAttractions.isEmpty()}">
                <p>Nie masz jeszcze zapisanych atrakcji.</p>
            </div>
            <div th:unless="${likedAttractions.isEmpty()}" class="container">
                <div class="div-transform full-size">
                    <div th:each="attraction:${likedAttractions}">
                        <div class="card card-white">
                            <div th:each="image:${attraction_images}">
                                <img class="image image-medium" th:if="${image.getAttraction().getId()} == ${attraction.getAttraction().getId()}" src="${'/static/attractions/' + image.getPath()}" th:src="@{'/attractions/'+${image.getPath()}}">
                            </div>
                            <div class="row">
                                <a class="text-link" th:href="@{'/attractions/' + ${attraction.getAttraction().getId()}}"><h2 th:text="${attraction.getAttraction().getName()}"></h2></a>
                                <button class="icon"><a class="bi bi-heart-fill" th:href="@{'/attractions/removeFromLiked/' + ${attraction.getAttraction().getId()}}"></a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>