<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>TravelApp</title>
    <link rel="stylesheet" type="text/css" th:href="@{/base.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<header th:replace="Fragments::Admin_menu">
</header>
<body>
    <div class="container">
        <div class="flex-row main">
            <div class="flex-column">
                <div class="card fact-card" style="margin-left: 0px;">
                    <div class="row fact-label">
                        <h2>Wybierz kierunek</h2>
                    </div>
                </div>
                <div th:each="continent:${continents}">
                    <div th:if="${continent == selected}" class="card-small padding selected">
                            <a th:href="@{'/selected/' + ${continent}}"><h2 th:text="${continent}"></h2></a>
                    </div>
                    <div th:unless="${continent == selected}" class="card-small padding">
                            <a th:href="@{'/selected/' + ${continent}}"><h2 th:text="${continent}"></h2></a>
                    </div>
                    <div th:if="${continent == selected}">
                        <div th:each="country:${countries}">
                            <div class="card-white country">
                                <div>
                                    <a th:href="@{'/destinations/' + ${country}}"><h2 th:text="${country}"></h2></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <form class="form-inline" th:action="@{/search}" method="get">
                    <div th:replace="Fragments::Search"></div>
                </form>
               <div th:if="${#httpServletRequest.servletPath.length() == 7}" class="colored_background">
                   <div th:if="!${attractions.isEmpty() and destinations.isEmpty() and tips.isEmpty()}" class="padding">
                       <h3> Wyniki wyszukiwania: </h3><br>
                   </div>
                   <div th:if="!${destinations.isEmpty()}" class="padding">
                       <h3> Miasta i kraje </h3><hr/>
                       <div class="card-white" th:each="destination:${destinations}">
                           <a class="text-link-dark" th:href="@{'/destinations/' + ${destination.getCountry()} + '/details/' + ${destination.getId()}}"><h2 th:text="${destination.getTown()}"></h2></a>
                       </div>
                   </div>
                   <div th:if="!${attractions.isEmpty()}">
                       <h3> Atrakcje </h3><hr/>
                       <div class="card-white" th:each="attraction:${attractions}">
                           <a class="text-link-dark" th:href="@{'/attractions/details/' + ${attraction.getId()}}"><h2 th:text="${attraction.getName()}"></h2></a>
                       </div>
                   </div>
                   <div th:if="!${tips.isEmpty()}">
                       <h3> Wskazówki </h3><hr/>
                       <div class="card-white" th:each="tip:${tips}">
                           <a class="text-link-dark" th:href="@{'/}"><h2 th:text="${tip.getTitle()}"></h2></a>
                       </div>
                   </div>
                   <div th:unless="!${attractions.isEmpty() and destinations.isEmpty() and tips.isEmpty()}">
                       <h5>Niestety nie znaleziono żadnych wystąpień. Upewnij się, że wpis nie zawiera błędów.  </h5>
                   </div>
               </div>
            </div>
            <div>
                <div class="card fact-card">
                    <div class="row fact-label">
                        <img class="image" src="${'/static/fact.png'}" th:src="@{'../fact.png'}"></a></li> <!--<h1 class="logo" th:text="TravelApp"/> -->
                        <h2>Ciekawostka na dziś</h2>
                    </div>
                </div>
                <div class="card card-white fact-body">
                    <h5 th:text="${fact.getTitle()}"></h5><hr/>
                    <p th:text="${fact.getContent()}"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container full-width">
        <div>
            <h2 class="white">A może chcesz zobaczyć najpopularniejsze miasta? <a th:href="@{/rankings/}" style="color: var(--sand) !important">Sprawdź rankingi </a></h2>
        </div> <hr/>
        <div class="div-transform">
            <div th:each="destination:${top}">
                <div class="row">
                <h2 th:text="${destinationStat.index + 1}" style="color: var(--sand)"></h2>
                <div class="card card-white colored_background">
                        <a class="text-link" th:href="@{'/destinations/' + ${destination.getDestination().getCountry()} + '/details/' + ${destination.getDestination().getId()}}"><h2 th:text="${destination.getDestination().getTown()}"></h2></a>
                </div>
                </div>
            </div>
            <div>
                <div class="card card-white more colored_background">
                    <a th:href="@{/rankings/}"><h2>Więcej...</h2> </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>