<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>TravelApp</title>
    <link rel="stylesheet" type="text/css" th:href="@{/base.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<header th:replace="Fragments::Admin_menu">
</header>
<body>
    <div class="nav_links">
        <a class="bordered-link" th:href="@{/destinations/}">Kraje</a>
        <a class="bordered-link" th:href="@{/attractions/}">Atrakcje</a>
    </div>
    <div class="container">
        <div class="flex-row">
            <div class="flex-column">
                <div th:each="country:${countries}">
                    <div class="card card-small">
                        <div th:each="im:${images}">
                            <img class="image" th:if="${im.getDestination().getId()} == ${country.getId()}" src="${'/static/destinations/' + im.getPath()}" th:src="@{'/destinations/'+${im.getPath()}}">
                        </div>
                        <div>
                            <a class="text-link" th:href="@{'/destinations/'+${country.getCountry}}"><h2 th:text="${country.getCountry()}"></h2></a>
                            <p th:text="${country.getContinent()}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <form class="form-inline" th:action="@{/search}" method="get">
                    <div th:replace="Fragments::Search"></div>
                </form>
               <div th:if="${#httpServletRequest.requestURI.length() > 1}">
                   <div th:if="!${attractions.isEmpty() and destinations.isEmpty() and tips.isEmpty()}">
                       <h2> Wyniki wyszukiwania: </h2><br>
                   </div>
                   <div th:if="!${destinations.isEmpty()}">
                       <h3> Miasta i kraje </h3><hr/>
                       <div class="card-white" th:each="destination:${destinations}">
                           <a class="text-link-dark" th:href="@{'/destinations/' + ${destination.getCountry()} + '/details/' + ${destination.getId()}}"><h2 th:text="${destination.getTown()}"></h2></a>
                       </div>
                   </div>
                   <div th:if="!${attractions.isEmpty()}">
                       <h3> Atrakcje </h3><hr/>
                       <div class="card-white" th:each="attraction:${attractions}">
                           <a class="text-link-dark" th:href="@{'/attractions/details/' + ${attraction.getId()}}"><h2 th:text="${attraction.getName()}"></h2></a>
                       </div>
                   </div>
                   <div th:if="!${tips.isEmpty()}">
                       <h3> Wskazówki </h3><hr/>
                       <div class="card-white" th:each="tip:${tips}">
                           <a class="text-link-dark" th:href="@{'/}"><h2 th:text="${tip.getTitle()}"></h2></a>
                       </div>
                   </div>
                   <div th:unless="!${attractions.isEmpty() and destinations.isEmpty() and tips.isEmpty()}">
                       <h5>Niestety nie znaleziono żadnych wystąpień. Upewnij się, że wpis nie zawiera błędów.  </h5>
                   </div>
               </div>
            </div>
            <div>
                <div class="card fact-card">
                    <div class="row">
                        <h2>Ciekawostka na dziś</h2>
                        <i class="bi bi-tencent-qq"></i>
                    </div>
                    <h5 th:text="${fact.getTitle()}"></h5><br/>
                    <h5 th:text="${fact.getContent()}"></h5>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <h2>A może chcesz zobaczyć najpopularniejsze miasta? <a th:href="@{/rankings/}">Sprawdź rankingi</a></h2>
        </div>
        <div class="div-transform">
            <div th:each="destination:${top}">
                <div class="card card-white">
                    <h3 th:text="${destinationStat.index + 1}"></h3>
                    <div class="row">
                        <a class="text-link" th:href="@{'/destinations/' + ${destination.getDestination().getCountry()} + '/details/' + ${destination.getDestination().getId()}}"><h2 th:text="${destination.getDestination().getTown()}"></h2></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>