<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rankings</title>
    <link rel="stylesheet" type="text/css" th:href="@{/base.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<header th:replace="Fragments::Admin_menu">
</header>
<body>
    <h2 class="title"> Ranking najczęściej wybieranych kierunków</h2><hr/>
    <div class="row categories">
        <div th:each="category:${categories}">
            <div th:if="${category == selected}" class="card-category selected">
                <a th:href="@{'/rankings/' + ${category}}"> <h5 th:text="${category}"></h5></a>
            </div>
            <div th:unless="${category == selected}" class="card-category">
                <a th:href="@{'/rankings/' + ${category}}"> <h5 th:text="${category}"></h5></a>
            </div>
        </div>
    </div>
    <div class="container center">
        <div class="flex-column ranking">
            <div th:each="destination:${top}">
                <div class="row row-ranking">
                    <h2 th:text="${destinationStat.index + 1}"></h2>
                    <div class="card card-white colored_background">
                        <div th:each="im:${images}">
                            <img class="image image-medium" th:if="${im.getDestination().getId()} == ${destination.getDestination().getId()}" src="${'/static/destinations/' + im.getPath()}" th:src="@{'/destinations/'+${im.getPath()}}" alt="img">
                        </div>
                        <div class="row">
                            <a class="text-link" th:href="@{'/destinations/' + ${destination.getDestination().getCountry()} + '/details/' + ${destination.getDestination().getId()}}"><h2 th:text="${destination.getDestination().getTown()}"></h2></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>